/**************************************** 
MID SIZE SCREENS
****************************************/

@media screen and (min-width: 480px) {
  
  /**************************************** 
  TWO COLUMN LAYOUT
  ****************************************/

  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }

  /**************************************** 
  PAGE: RESUME
  ****************************************/



  /**************************************** 
  PAGE: ABOUT
  ****************************************/

  .profile-photo {
    float: left;
    margin: 0 5% 150px 0;
  }
}

/**************************************** 
LARGE SIZE SCREENS
****************************************/

@media screen and (min-width: 730px) {

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 40%;
  }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 50%;
  }

  header h1 {
    font-size: 2.5em
  }

  header h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
	
  header {
    border-bottom: 5px solid #B0B0B0;
    margin-bottom: 30px;
  }

  /**************************************** 
  PAGE: RESUME
  ****************************************/

  #content {
    float: right;
    border-left: 2.5px solid #B0B0B0;
    padding-left: 15px;
    width: 20%;
    margin-top: 20px;
  }

  #content ul li {
    padding-bottom: 7.5px;
  }

  #content ul {
    text-align: left;
  }

  #content h4 {
    text-align: left;
  }

  #resume {
    float: left;
    width: 75%;
  }

}











